<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="http://neosis-analytics.com/" target="_blank">Neosis Analytics</a> 2022</p>
    </div>
</div>