<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="description" content="Tuition - Student Management System" />
<meta property="og:title" content="Tuition - Student Management System" />
<meta property="og:description" content="Tuition - Student Management System" />

<!-- FAVICONS ICON -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png" />

<!-- PAGE TITLE HERE -->
<title>Tekun - Sistem Pengurusan Pusat Tuisyen</title>

<!-- MOBILE SPECIFIC -->
<meta name="viewport" content="width=device-width, initial-scale=1">