<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="description" content="Edumin - Bootstrap Admin Dashboard" />
<meta property="og:title" content="Edumin - Bootstrap Admin Dashboard" />
<meta property="og:description" content="Edumin - Bootstrap Admin Dashboard" />
<meta property="og:image" content="https://edumin.dexignlab.com/xhtml/social-image.png" />
<meta name="format-detection" content="telephone=no">

<!-- FAVICONS ICON -->
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

<!-- PAGE TITLE HERE -->
<title>Edumin - Bootstrap Admin Dashboard</title>

<!-- MOBILE SPECIFIC -->
<meta name="viewport" content="width=device-width, initial-scale=1">