<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tekun - Sistem Pengurusan Pusat Tuisyen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
  <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
  <meta name="Version" content="v3.8.0" />
  <!-- favicon -->
  <link rel="shortcut icon" href="/landing/images/favicon.ico">
  <!-- Bootstrap -->
  <link href="/landing/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- tobii css -->
  <link href="/landing/css/tobii.min.css" rel="stylesheet" type="text/css" />
  <!-- Icons -->
  <link href="/landing/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../../../landing/unicons.iconscout.com/release/v3.0.6/css/line.css">
  <!-- Slider -->
  <link rel="stylesheet" href="/landing/css/tiny-slider.css" />
  <!-- Main Css -->
  <link href="/landing/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
  <link href="/landing/css/colors/default.css" rel="stylesheet" id="color-opt">
</head>

<body>
  <div id="preloader">
    <div id="status">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>

  <!-- Navbar STart -->
  <header id="topnav" class="defaultscroll sticky">
    <div class="container">
      <!-- Logo container-->
      <a class="logo" href="/">
        <img src="/landing/images/favicon.ico" height= "30px" alt=""><span> Tekun</span>
      </a>
      <!-- End Logo container-->
      <div class="menu-extras">
        <div class="menu-item">
          <!-- Mobile menu toggle-->
          <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>

      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li><a href="index.html" class="sub-menu-item">Home</a></li>
          <li>
            <a class="sub-menu-item" href="#pilih">Kenapa Pilih Kami</a>
          </li>

          <li>
            <a class="sub-menu-item" >Mengenai Kami</a>
          </li>

          <li>
            <a href="#rate" class="sub-menu-item" >Mula Melanggan</a>
          </li>
          <li>
            <a href="/auth/login" class="sub-menu-item" >Log Masuk</a>
          </li>
          <li>
            <a href="/auth/register" class="sub-menu-item" >Daftar</a>
          </li>
        </ul>
        <!--end navigation menu-->
      </div>
      <!--end navigation-->
    </div>
    <!--end container-->
  </header>
  <!--end header-->
  <!-- Navbar End -->

  <!-- Hero Start -->
  <section class="overflow-hidden" id="home">
    <div class="container">
      <div class="row d-flex  align-items-center ">
        <div class="col-lg-7 col-md-6">
          <div class="title-heading">
            <h1 class="heading mb-3">Lupakan pen, kertas <br> dan sakit kepala</h1>
            <p class="para-desc text-muted">Tekun ialah merupakan Software As a Service (SaaS) yang membolehkan pusat tuisyen menguruskan pelajar, tutor, kursus dan rekod pembayaran mereka dalam satu platform.</p>
            <div class="mt-4 pt-2">
              <a target="_blank" class="btn btn-primary">Akan dilancarkan</a>
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <div class="classic-saas-image position-relative">
            <div class="bg-saas-shape position-relative">
              <img src="/landing/images/laptop.png" class="mx-auto d-block" alt="">
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <!-- Hero End -->


  <!-- Section Start -->
  <section class="section overflow-hidden pt-4">

    <div id="pilih" class="container mt-100 mt-60">
      <div class="row align-items-center">
        <div class="col-lg-5 order-2 order-lg-1 mt-4 pt-2 mt-lg-0 pt-lg-0">
          <div class="section-title me-lg-4">
            <h1 class="title mb-3">Kenapa Pilih Kami ?</h1>
            <p class="para-desc text-muted"></p>

            <div class="row">
              <div class="col-12">
                <div class="d-flex align-items-center pt-4">
                  <h2><i data-feather="shield" class="fea icon-m-md text-primary"></i></h2>
                  <div class="ms-3">
                    <h5>Selamat</h5>
                    <p class="text-muted mb-0">Moreover, in Latin only words at the beginning of sentences are capitalized.</p>
                  </div>
                </div>
              </div>
              <!--end col-->

              <div class="col-12">
                <div class="d-flex align-items-center pt-4">
                  <h2><i data-feather="money" class="fea icon-m-md text-primary"></i></h2>
                  <div class="ms-3">
                    <h5>Best Performance</h5>
                    <p class="text-muted mb-0">If the fill text is intended to illustrate the characteristics of sometimes.</p>
                  </div>
                </div>
              </div>
              <!--end col-->

              <div class="col-12 pt-4">
                <a href="javascript:void(0)" class="btn btn-outline-primary">Install Now <i class="uil uil-angle-right-b"></i></a>
              </div>
              <!--end col-->
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-lg-7 order-1 order-lg-2">
          <div class="saas-feature-shape-right position-relative">
            <img src="/landing/images/saas/classic02.png" class="img-fluid mx-auto d-block rounded shadow" alt="">
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->

    <div class="container pt-4 mt-100 mt-60">
      <div class="row justify-content-center" id="counter">
        <div class="col-12 text-center">
          <div class="section-title">
            <h4 class="title mb-4">Lebih <span class="text-primary"><span class="counter-value" data-target="2">1</span>k+</span> pusat tuisyen menggunakan perkhidmatan kami.</h4>
            <p class="text-muted para-desc mx-auto mb-0">Lupakan pen dan kertas, lupakan pening kepala saat akhirnya menyediakan penyata kewangan saat audit.</p>
            <div class="mt-4">
              <a href="javascript:void(0)" class="btn btn-primary m-1">Langgan Sekarang <i class="uil uil-angle-right-b"></i></a>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->

    <div id="rate" class="container mt-100 mt-60">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Kadar Langganan</h4>
            <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Tekun</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->

      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
            <div class="card-body">
              <h6 class="title fw-bold text-uppercase text-primary mb-4">Bulanan</h6>
              <div class="d-flex mb-4">
                <span class="h4 mb-0 mt-2">RM</span>
                <span class="price h1 mb-0">25</span>
                <span class="h4 align-self-end mb-1">/mo</span>
              </div>

              <ul class="list-unstyled mb-0 ps-0">
                <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Rekod Kedatangan</li>
                <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Bayaran Online</li>
              </ul>
              <a href="javascript:void(0)" class="btn btn-primary mt-4">Langgan Sekarang</a>
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="card pricing-rates business-rate shadow bg-white border-0 rounded">
            <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span class="text-center d-block shadow small h6">Best</span></div>
            <div class="card-body">
              <h6 class="title fw-bold text-uppercase text-primary mb-4">Tahunan</h6>
              <div class="d-flex mb-4">
                <span class="h4 mb-0 mt-2">RM</span>
                <span class="price h1 mb-0">270</span>
                <span class="h4 align-self-end mb-1">/tahun</span>
              </div>

              <ul class="list-unstyled mb-0 ps-0">
                <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Rekod Kedatangan</li>
                <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Bayaran Online</li>
              </ul>
              <a href="javascript:void(0)" class="btn btn-primary mt-4">Langgan Sekarang</a>
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
            <div class="card-body">
              <h6 class="title fw-bold text-uppercase text-primary mb-4">Dwi Tahunan</h6>
              <div class="d-flex mb-4">
                <span class="h4 mb-0 mt-2">RM</span>
                <span class="price h1 mb-0">140</span>
                <span class="h4 align-self-end mb-1">/6 bulan</span>
              </div>

              <ul class="list-unstyled mb-0 ps-0">
                <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Rekod Kedatangan</li>
                <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Bayaran Online</li>
              </ul>
              <a href="javascript:void(0)" class="btn btn-primary mt-4">Langgan Sekarang</a>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <!-- Section End -->

  <!-- Footer Start -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-py-60">
            <div class="row">
              <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <p class="mt-4">Start working with Tekun that can provide everything you need to generate awareness, drive traffic, connect.</p>
                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                </ul>
                <!--end icon-->
              </div>
              <!--end col-->

              <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="footer-head">Company</h5>
                <ul class="list-unstyled footer-list mt-4">
                  <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Mengenai Kami</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Services</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Kadar Langgana</a></li>
                </ul>
              </div>
              <!--end col-->

              <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="footer-head">Usefull Links</h5>
                <ul class="list-unstyled footer-list mt-4">
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li> 
                </ul>
              </div>
              <!--end col-->

              <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="footer-head">Newsletter</h5>
                <p class="mt-4">Sign up and receive the latest tips via email.</p>
                <form>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <label class="form-label">Write your email <span class="text-danger">*</span></label>
                        <div class="form-icon position-relative">
                          <i data-feather="mail" class="fea icon-sm icons"></i>
                          <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="d-grid">
                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary" value="Subscribe">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->

    <div class="footer-py-30 footer-bar">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="text-sm-start">
              <p class="mb-0">© <script>
                  document.write(new Date()
                    .getFullYear())
                </script> Tekun. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Neosis Analytics</a>.</p>
            </div>
          </div>
          <!--end col-->

          <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
            <ul class="list-unstyled text-sm-end mb-0">
              <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/american-ex.png" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/discover.png" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/master-card.png" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/paypal.png" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/visa.png" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
            </ul>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
  </footer>
  <!--end footer-->
  <!-- Footer End -->

  <!-- Cookies Start -->
  <div class="cookie-popup bg-white shadow rounded py-3 px-4">
    <p class="text-muted mb-0">This website uses cookies to provide you with a great user experience. By using it, you accept our <a href="https://shreethemes.in/" target="_blank" class="text-success h6">use of cookies</a></p>
    <div class="cookie-popup-actions text-end">
      <button><i class="uil uil-times text-dark fs-4"></i></button>
    </div>
  </div>
  <!--Note: Cookies Js including in plugins.init.js (path like; js/plugins.init.js) and Cookies css including in _helper.scss (path like; scss/_helper.scss)-->
  <!-- Cookies End -->

  <!-- Back to top -->
  <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
  <!-- Back to top -->


  <!-- javascript -->
  <script src="/landing/js/bootstrap.bundle.min.js"></script>
  <!-- SLIDER -->
  <script src="/landing/js/tiny-slider.js"></script>
  <!-- tobii js -->
  <script src="/landing/js/tobii.min.js"></script>
  <!-- Icons -->
  <script src="/landing/js/feather.min.js"></script>
  <!-- Switcher -->
  <script src="/landing/js/switcher.js"></script>
  <!-- Main Js -->
  <script src="/landing/js/plugins.init.js"></script>
  <!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
  <script src="/landing/js/app.js"></script>
  <!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
</body>

</html>